
@{
    ViewData["Title"] = "Index";
}
@model IEnumerable<CarRentals.Domain.Car>

<h1>Låna en Skrotbil!</h1>
<p><a href="/cars">Se tillgängliga bilar att låna</a></p>
<p><a href="/loans">Visa lån</a></p>