
@{
    ViewData["Title"] = "CreateCarDetails";
}
@model CreateCarDetailsViewModel 


<h1>CreateCarDetails</h1>
<form action="/admin/car/createcardetails" method="post">
    <label asp-for="Make">Bilmodell</label>
    <input asp-for="Make" />

    <label asp-for="Year">Årsmodell</label>
    <input asp-for="Year" />

    <label asp-for="MaxRentDays">Max antal dagar att hyra</label>
    <input asp-for="MaxRentDays" />
    <input type="submit" value="Skapa" />
</form>
